body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    background: pink;
    text-align: center;
    padding: 60px;
}

.hero button {
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
}

.category {
    padding: 30px;
    text-align: center;
}

.cat-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cat {
    background: white;
    padding: 20px;
    width: 150px;
    box-shadow: 0 0 5px gray;
}

.products {
    padding: 30px;
    text-align: center;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    width: 220px;
    padding: 15px;
    box-shadow: 0 0 8px gray;
}

.card button {
    background: black;
    color: white;
    border: none;
    padding: 8px;
}

.offer {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px;
}

.about, .contact {
    padding: 40px;
    background: white;
    margin: 20px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}